@model VisualizeBooktemsModel[]

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="cardId" class="row mt-5">

    <partial name="_OptionsPartial" />

    <div class="col-lg-9">
        <div class="container cart-font-size">
            <div class="h4 mb-3">Shopping Cart</div>
            <hr class="w-100 normal-hr" />
            <div id="shoppingTable">
                <partial name="_TableItemCartPartial" />
            </div>
        </div>
    </div>
    <div class="my-3 w-100 text-right h4">Total Price: <span id="totalPrice"></span> $</div>
    <div class="row w-100">
        <div class="col-lg-4"></div>
        <div class="col-lg-6 col-md-10 col-8 col-sm-8">
            <a class="btn btn-primary mr-3" role="button" asp-area="Books" asp-controller="Books" asp-action="Category" asp-route-category="all">Continue Shopping</a>
            @if (this.Model.Length > 0)
            {
                <button id="clearShoppingCart" class="btn btn-warning">Empty Cart</button>
            }
        </div>
        @if (this.Model.Length > 0)
        {
            <div class="col-lg-2 col-md-2 col-4 col-sm-4 mr-0">
                <button id="orderFromCart" class="btn mx-auto btn-success tex-white float-right"><i class="fab fa-jedi-order"></i> Order Now</button>
            </div>
        }
    </div>
</div>

@(Html.Kendo().Window()
              .Name("windowOrder")
              .MinWidth(700)
              .Height(500)
              .Visible(false)
              .Title("Order books at the best prices!")
              .Content(@<text>
                  <div id="contentOrder"></div>
              </text>).Events(ev => ev.Close("onClose"))
)

<script src="~/js/shopping-cart-details-page.js"></script>