@model VisualizeBooktemsModel[]

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="cardId" class="row mt-5">

    <partial name="_OptionsPartial" />

    <div class="col-lg-9">
        <div class="container cart-font-size">
            <div class="h4 mb-3">Shopping Cart</div>
            <hr class="w-100 normal-hr" />
            <div id="shoppingTable">
                <partial name="_TableItemCartPartial" />
            </div>
        </div>
    </div>
    <div class="my-3 w-100 text-right h4">Total Price: <span id="totalPrice"></span> $</div>
    <div class="row w-100">
        <div class="col-lg-4"></div>
        <div class="col-lg-6 col-md-10 col-8 col-sm-8">
            <a class="btn btn-primary mr-3" role="button" asp-area="Books" asp-controller="Books" asp-action="Category" asp-route-category="all">Continue Shopping</a>
            @if (this.Model.Length > 0)
            {
                <button id="clearShoppingCart" class="btn btn-warning">Empty Cart</button>
            }
        </div>
        @if (this.Model.Length > 0)
        {
            <div class="col-lg-2 col-md-2 col-4 col-sm-4 mr-0">
                <button id="orderFromCart" class="btn mx-auto btn-success tex-white float-right"><i class="fab fa-jedi-order"></i> Order Now</button>
            </div>
        }
    </div>
</div>

@(Html.Kendo().Window()
              .Name("windowOrder")
              .MinWidth(700)
              .Height(500)
              .Visible(false)
              .Title("Order books at the best prices!")
              .Content(@<text>
                  <div id="contentOrder"></div>
              </text>).Events(ev => ev.Close("onClose"))
)


<script>
    function onClose() {
        $("#orderFromCart").show();
    }

    let visualizeOfCreateUrl = "/Orders/VisualizeCreate";

    $(document).ready(function () {
        $("#orderFromCart").bind("click", function () {
            $("#windowOrder").data("kendoWindow").open().center();

            $.ajax({
                url: visualizeOfCreateUrl,
                data: {},
                type: 'POST',
                dataType: 'html',
                beforeSend: function (xhr) {
                    xhr.setRequestHeader("XSRF-TOKEN", $('input:hidden[name="__RequestVerificationToken"]').val());
                },
                success: function (data) {
                    if (data != null) {
                        $("#contentOrder").html(data)
                    }
                },
                error: function () {
                    alert('Error occurred in VISUALIZE CREATE');
                }
            })
        });
    });


    //$("#windowCommens").kendoValidator({
    //    rules: {
    //        radio: function (input) {
    //            if (input.filter("[type=radio]") && input.attr("required")) {
    //                return $("#windowCommens").find("[name=rating]").is(":checked");
    //            }
    //            return true;
    //        },
    //        text: function (input) {
    //            if (input.is("[name=title]")) {
    //                return input.val().match(/^[a-zA-Z0-9 \.!?,]{5,40}$/) != null;
    //            }

    //            return true;
    //        },
    //        textarea: function (input) {
    //            if (input.is("[name=content]")) {
    //                return input.val().match(/.{10,350}/) != null;
    //            }

    //            return true;
    //        }
    //    },
    //    messages: {
    //        radio: "You have to choose ratting from 1 to 5!",
    //        text: "Title have to be between 5 and 40 symbols!",
    //        textarea: "Content have to be between 10 and 350 symbols!"
    //    }
    //});

</script>




@*<script>
    $(document).ready(function () {
        totalMoney();

        $('#clearShoppingCart').click(function () {
            let shoppingCartClearUrl = '/ShoppingCart/ClearShoppingCart';

            $.ajax({
                url: shoppingCartClearUrl,
                data: {},
                type: 'POST',
                dataType: 'json',
                beforeSend: function (xhr) {
                    xhr.setRequestHeader("XSRF-TOKEN",
                        $('input:hidden[name="__RequestVerificationToken"]').val());
                },
                success: function (data) {
                    $('#emptyBody').html(`
                            <tr>
                                <td>
                                    <div class="h4 text-center">Yours shopping cart is empty!</div>
                                </td>
                            </tr>`);

                    $('#orderFromCart').hide();
                },
                complete: notification,
                error: function () {
                    alert('Error occurred while Empty shopping cart');
                }
            }).then(totalMoney)
        })

        $('.deleteFromCart').click(function () {
            var delBookId = $(this).find('span').text();
            let deleteItemUrl = '/ShoppingCart/DeleteItem';

            $.ajax({
                url: deleteItemUrl,
                data: { 'bookId': delBookId },
                type: 'POST',
                dataType: 'html',
                beforeSend: function (xhr) {
                    xhr.setRequestHeader("XSRF-TOKEN", $('input:hidden[name="__RequestVerificationToken"]').val());
                },
                success: function (data) {
                    if (data != null) {
                        $('#shoppingTable').html(data);
                        $('#orderFromCart').hide();
                    }
                },
                complete: notification,
                error: function () {
                    alert('Error occurred in Card Details');
                }
            }).then(totalMoney)
        })

        $('.updateUp').click(function () {
            var bookId = $(this).find('span').text();
            let updateUpUrl = '/ShoppingCart/UpdateUp'
            $.ajax({
                url: updateUpUrl,
                data: { 'bookId': bookId },
                type: 'POST',
                dataType: 'json',
                beforeSend: function (xhr) {
                    xhr.setRequestHeader("XSRF-TOKEN", $('input:hidden[name="__RequestVerificationToken"]').val());
                },
                success: function (data) {

                    if (data != null) {
                        $('.quantityNumber' + data.BookId).html(data.Quantity);
                        notification(data);
                    }
                },
                error: function () {
                    alert('Error occurred in Card Details');
                }
            }).then(totalMoney)
        })

        $('.updateDown').click(function () {
            var bookId = $(this).find('span').text();
            let updateUpUrl = '/ShoppingCart/UpdateDown'
            $.ajax({
                url: updateUpUrl,
                data: { 'bookId': bookId },
                type: 'POST',
                dataType: 'json',
                beforeSend: function (xhr) {
                    xhr.setRequestHeader("XSRF-TOKEN", $('input:hidden[name="__RequestVerificationToken"]').val());
                },
                success: function (data) {

                    if (data != undefined) {
                        $('.quantityNumber' + data.BookId).html(data.Quantity);
                        notification(data);
                    }
                    else {
                        $('#orderFromCart').hide();
                    }
                },
                error: function () {
                    alert('Error occurred in Card Details');
                }
            }).then(function (data) {
                console.log(JSON.stringify(data));
                if (data == undefined) {
                    $.ajax({
                        type: 'POST',
                        dataType: 'html',
                        url: '/ShoppingCart/GetShoppingTable',
                        data: {},
                        beforeSend: function (xhr) {
                            xhr.setRequestHeader("XSRF-TOKEN", $('input:hidden[name="__RequestVerificationToken"]').val());
                        },
                        success: function (data) {
                            $('#shoppingTable').html(data)
                        },
                        complete: notification,
                        error: function (data) {
                            alert(data);
                        }
                    });
                }
            }).then(totalMoney)
        })

        function totalMoney() {
            let totalPriceUrl = '/ShoppingCart/TotalPrice';

            $.ajax({
                url: totalPriceUrl,
                data: {},
                type: 'GET',
                dataType: 'json',
                success: function (data) {
                    var totalPrice = parseFloat(data);
                    $('#totalPrice').html(totalPrice);
                },
                error: function () {
                    alert('Error occurred in Get Total money');
                }
            })
        }

        function notification(data) {
            if (data != null) {
                $.ajax({
                    type: 'GET',
                    dataType: 'text',
                    url: '/ShoppingCart/NumberItemsInCart',
                    data: {},
                    success: function (data) {
                        $('#notification').html(data)
                    },
                    error: function (data) {
                        alert(data);
                    }
                });
            }
        }
    })
</script>*@