@using X.PagedList.Mvc.Core;
@using X.PagedList.Mvc.Common;
@using X.PagedList;

@{
    ViewData["Title"] = "NewRelease";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{ var name = "New Release";}

<partial name="_IndexPageFilmPartial" model="@name.ToString()" />

@{
    var leftTo = @"<i class=""fa fa-chevron-left""></i>";
    var rightTo = @"<i class=""fa fa-chevron-right""></i>";
}

<div class="row mt-5">
    <div class="col-md-12 col-12">
        @Html.PagedListPager((IPagedList)ViewBag.Books, page => Url.Action("NewRelease", "Books", new { page = page }),
       new PagedListRenderOptions
       {
           MaximumPageNumbersToDisplay = 1,
           UlElementClasses = new string[] { "pagination", "flex-wrap" },
           LinkToPreviousPageFormat = @leftTo,
           LinkToFirstPageFormat = "First",
           LinkToLastPageFormat = "Last",
           DisplayEllipsesWhenNotShowingAllPageNumbers = true,
           LiElementClasses = new string[] { "page-item" },
           PageClasses = new string[] { "page-link", "mx-1" },
           LinkToNextPageFormat = @rightTo,
       })
    </div>
</div>

<script src="~/js/custom-selected.js"></script>