@{
    ViewData["Title"] = "ApprovalComments";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 class="text-center my-3">Approve Comments</h1>

<div id="appendComment">
    <div id="aprovalComments">
        <div id="progress" class="text-center" style="display:none">
            <img src="~/lib/slick/ajax-loader.gif" />
        </div>
    </div>
</div>

<script src="~/js/aooroval-Comments-page.js"></script>