
/*.bg-cover {
    background-image: url('../../images/002.jpg');

    height: 100%;

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 500px;
}*/

/*@media (min-width: 1200px) {
    .title-details {
        font-size: 0.2vw;
        font-weight: bold;
    }

    .author-details {
        font-size: 0vw;
    }
}

@media (min-width: 800px) {
    .title-details {
        font-size: 3vw;
        font-weight: bold;
    }

    .author-details {
        font-size: 2vw;
    }
}

@media (min-width: 200px) {
    .title-details {
        font-size: 4vw;
        font-weight: bold;
    }*/

/*.author-details {
        font-size: 3vw;
    }
}*/

#editBook {
    min-height: 1015px;
}

#deleteBook {
    min-height: 890px;
}

#appendComment {
    min-height: 345px;
}

#aprovalComments div.p-3 {
    margin-left: 0px;
    margin-right: 0px;
    border: 2px solid aliceblue;
    border-radius: 7px;
}

.pad {
    /*padding-left: 12px;
    padding-right: 12px;*/
    padding-top: 6px;
    padding-bottom: 6px;
}

#someId div:first-child {
    font-weight: bold;
}

.normal-bold {
    font-weight: bold;
}

.normal-hr {
    margin: 0px;
    height: 1px;
    background-color: #6c757d;
}

.hr-bg-color-second {
    background-color: #6c757d;
    height: 1px;
}

#aprovalComments {
    border: 2px solid black;
    border-radius: 10px;
    padding: 10px;
}

    #aprovalComments p {
        margin-top: 15px;
        word-break: break-all;
    }

.content-comm {
    font-size: 26px;
}

.bg-delete {
    background-color: aliceblue;
}

.bg-approve {
    background-color: black;
}

#test1 {
    height: 370px;
}

#createBook {
    height: 875px;
}

#createCategory {
    height: 278px;
}

#categoryEdit {
    height: 190px;
}

#authorEdit {
    height: 480px;
}

#register {
    height: 440px;
}

#login {
    height: 376px;
}

li.selected {
    background-color: darkslategray;
}

nav, footer {
    background-color: darkslategray;
}

.index-color-slider-text {
    color: darkslategray;
}

.index-color-slider-bg {
    background-color: darkslategray;
}

.title-details {
    font-size: 32px;
    font-weight: bold;
}

.author-details {
    font-size: 15px;
}

.bold {
    font-weight: bold;
    font-size: 50px;
}

#notification {
    position: absolute;
    /*display: none;*/
    /*left: 13px;*/
    right: 85px;
    top: 1px;
    min-width: 17px;
    height: 17px;
    line-height: 17px;
    font-size: 10px;
    font-weight: bold;
    text-align: center;
    border-radius: 50%;
}

/*div > div > div > a.break-word {
    word-break: break-all;
}*/

/*.jumbotron {
    padding-top: 100px;
    padding-bottom: 100px
}*/

.pading-left-riht-zero {
    padding-left: 0px;
    padding-right: 0px;
}

#navbarDropdownMenuLink-4 {
    color: #28c491
}

a {
    color: #28c491;
    text-decoration: none;
}

    a:hover {
        color: #28c491;
        text-decoration: none;
    }

#navBarHome {
    color: #28c491;
}

#navbarDropdown {
    color: #28c491;
}

#navbarDropdownBook {
    color: #28c491;
}

#carouselIndicators {
    max-height: 350px;
}

.carousel-inner img {
    width: 100%;
    height: 100%;
}

footer {
    color: #28c491;
}

body {
    font-size: 15px;
    background-color: gainsboro;
}

/*ul li.list-group-item a {
    padding: 0px;
    font-size: 20px;
    border: 0px;
}*/

/*ul li.list-group-item:hover {
    background-color: #f8f9fa;
}*/

input.bg-color {
    color: white;
    background-color: #28c491;
}

.form-control:focus {
    border-color: rgba(126, 239, 104, 0.8);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(126, 239, 104, 0.6);
    outline: 0 none;
}

form#windowCommens {
    box-sizing: inherit;
}

#windowCommens textarea.form-control, #windowCommens input.form-control {
    padding-top: 0px;
    padding-bottom: 0px;
}

    #windowCommens textarea.form-control:focus, #windowCommens input.form-control:focus {
        color: #495057;
        background-color: #fff;
        border-color: #80bdff;
        outline: 0;
        box-shadow: 0 0 0 0.1rem rgba(0,123,255,.25);
        padding-top: 0px;
        padding-bottom: 0px;
    }

#uploadFile:focus {
    border-color: rgba(126, 239, 104, 0.8);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(126, 239, 104, 0.6);
    outline: 0 none;
}

hr {
    height: 2px;
    background-color: #7EEF68;
}

#unique-row {
    margin-left: 0px !important;
    margin-right: 0px !important;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    line-height: 1.42857143;
}

.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}

.row[data-gutter="15"] {
    margin-bottom: -15px;
    margin-left: -7.5px;
    margin-right: -7.5px;
}

    .row[data-gutter="15"] > [class^="col-"] {
        padding-left: 7.5px;
        padding-right: 7.5px;
        margin-bottom: 15px;
    }

@media (max-width: 575px) {
    .row {
        margin-right: 0px;
        margin-left: 0px;
    }
}

@media (max-width: 575px) {
    .row {
        margin-right: 0px;
        margin-left: 0px;
    }
}

@media (max-width: 300px) {
    #unique-row div.col-md-3 {
        width: 100%;
    }
}

.col-xs-6 {
    width: 50%;
}

.col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12 {
    float: left;
}

.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
    position: relative;
    min-height: 1px;
}


.product {
    -webkit-box-shadow: 0 3px 2px rgba(0,0,0,0.15), 0 0 1px rgba(0,0,0,0.15);
    box-shadow: 0 3px 2px rgba(0,0,0,0.15), 0 0 1px rgba(0,0,0,0.15);
    -webkit-border-radius: 4px;
    border-radius: 4px;
    padding: 5px;
    background: #fff;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -o-transition: 0.3s;
    /*-ms-transition: 0.3s;*/
    transition: 0.3s;
    position: relative;
}

div.product-img-wrap {
    line-height: 220px;
}

.product-img-wrap {
    position: relative;
    height: auto;
    max-height: 230px;
    min-height: 230px;
    overflow: hidden;
    margin: 10px 10px;
    margin-bottom: 10px;
}

.text-center {
    text-align: center;
}

.product-caption-author {
    font-size: 13px;
    height: 14px;
    max-height: 14px;
    overflow: hidden;
}

.product-img-wrap a {
    max-height: inherit;
    position: relative;
    display: inline-block;
}

.product-img-wrap img.custom-responsive-style, .product-img-wrap img.product-img {
    max-height: inherit;
    max-width: 100%;
    width: auto;
    vertical-align: middle;
}

.product-img-wrap img {
    height: auto;
    width: 100%;
    display: inline-block;
    vertical-align: middle;
}

.product-caption {
    padding: 0 15px;
    position: relative;
}

div.product-caption.starIndexBookSize ul > li {
    font-size: 10px;
}

.starIndexBookSize > li {
    font-size: 13px;
}

.f-s-16 {
    font-size: 16px;
}

.product-info-block-rating, .product-caption-rating {
    list-style: none;
    margin-bottom: 3px;
    padding: 0;
    overflow: hidden;
    font-size: 9px;
}

ul, ol {
    margin-top: 0;
    margin-bottom: 10px;
}

.product-info-block-rating > li, .product-caption-rating > li {
    float: left;
    margin-right: 3px;
    color: #d9d9d9;
}

.product-caption-title {
    font-weight: 400;
    font-family: 'Open Sans', arial, helvetica, sans-serif;
    margin-bottom: 6px;
    font-size: 16px;
    letter-spacing: 1px;
    height: 40px;
    overflow: hidden;
    line-height: 1.3em;
    color: #0d0d0d;
}

h6.product-caption-author {
    margin-bottom: 5px;
}

.product-caption-discount {
    height: 50px;
}

.text-red {
    color: #ef2809;
    font-size: 16px;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    font-family: inherit;
    font-weight: 500;
    line-height: 1.1;
    color: inherit;
    margin-top: 0;
    font-family: 'Open Sans Condensed', sans-serif;
    font-weight: 600;
}

.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}

.pagination-container ul {
    float: right;
}

#left-menu .list-group-item {
    padding: 0px 0px;
}

@media (max-width: 992px) {
    #left-menu {
        display: none;
    }

    #colapse-categories .list-group-item {
        padding: 0px 0px;
    }
}

@media (min-width: 992px) {
    #colapse-categories {
        display: none;
    }
}

@media (min-width: 768px) {
    div#slider-index-one div div div .col-md-3,
    div#slider-details div div div .col-md-3,
    div#slider-index-two div div div .col-md-3 {
        -ms-flex: none;
        flex: none;
        max-width: none;
    }
}

@media (min-width: 576px) {
    div#slider-index-one div div div .col-sm-4,
    div#slider-details div div div .col-md-3,
    div#slider-index-two div div div .col-md-3 {
        -ms-flex: none;
        flex: none;
        max-width: none;
    }
}

.payment-icons-list > li img {
    width: 35px;
}

.payment-icons-list {
    list-style: none;
    overflow: hidden;
    float: left;
    padding: 0;
    margin: 10px 0;
}

    .payment-icons-list > li {
        float: left;
        margin-left: 5px;
    }

@media (max-width: 578px) {
    footer div, footer ul li {
        text-align: center;
    }

    #centerPaymentPicture {
        display: flex;
        justify-content: center
    }
}

@media (min-width: 1200px) {
    div.input-group span.k-widget.k-autocomplete.k-header.k-autocomplete-clearable.k-state-default {
        width: 91%;
    }
}

@media (min-width: 200px) {
    div.input-group span.k-widget.k-autocomplete.k-header.k-autocomplete-clearable.k-state-default {
        width: 60%;
    }

    div.k-widget.k-window {
        width: 250px;
    }

    #windowCommens label {
        text-align: left !important;
    }
}

@media (min-width: 270px) {
    div.input-group span.k-widget.k-autocomplete.k-header.k-autocomplete-clearable.k-state-default {
        width: 65%;
    }
}

@media (min-width: 324px) {
    div.input-group span.k-widget.k-autocomplete.k-header.k-autocomplete-clearable.k-state-default {
        width: 75%;
    }
}

@media (min-width: 400px) {
    div.input-group span.k-widget.k-autocomplete.k-header.k-autocomplete-clearable.k-state-default {
        width: 80%;
    }
}

@media (min-width: 600px) {
    div.input-group span.k-widget.k-autocomplete.k-header.k-autocomplete-clearable.k-state-default {
        width: 80%;
    }
}

@media (min-width: 767px) {
    div.input-group span.k-widget.k-autocomplete.k-header.k-autocomplete-clearable.k-state-default {
        width: 85%;
    }

    div.k-widget.k-window {
        width: 520px;
    }

    #windowCommens label {
        text-align: right !important;
    }
}

@media (min-width: 995px) {
    div.input-group span.k-widget.k-autocomplete.k-header.k-autocomplete-clearable.k-state-default {
        width: 89%;
    }
}

div.input-group span.k-widget.k-autocomplete.k-header.k-autocomplete-clearable.k-state-default {
    border-color: none;
}

    div.input-group span.k-widget.k-autocomplete.k-header.k-autocomplete-clearable.k-state-default > input {
        height: 87%;
    }

    div.input-group span.k-widget.k-autocomplete.k-header.k-autocomplete-clearable.k-state-default.k-autocomplete.k-state-focused {
        border-color: none;
        box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(126, 239, 104, 0.6);
    }


@media screen and (max-width: 992px) {
    #details-first {
        display: none;
    }

    #details-second {
        display: normal;
    }

    #someId .col-xl-1 > div, #someId .col-xl-2 > div,
    #someId .col-xl-3 > div, #someId .col-xl-4 > div, #someId .col-xl-5 > div,
    #someId .col-xl-6 > div, #someId .col-xl-7 > div, #someId .col-xl-8 > div,
    #someId .col-xl-9 > div, #someId .col-xl-10 > div, #someId .col-xl-11 > div,
    #someId .col-xl-12 > div {
        justify-content: center;
        text-align: center;
    }
}

@media screen and (min-width: 993px) {

    #details-first {
        display: normal;
    }

    #details-second {
        display: none;
    }

    div.k-widget.k-window {
        width: 600px;
    }
}

.rating {
    text-align: center;
}

    .rating div:not(:checked) > input {
        position: absolute;
        top: -9999px;
        clip: rect(0,0,0,0);
    }

    .rating div:not(:checked) > label {
        float: right;
        width: 1em;
        padding: 0 .1em;
        overflow: hidden;
        white-space: nowrap;
        cursor: pointer;
        font-size: 200%;
        line-height: 1.2;
        color: #ddd;
        text-shadow: 1px 1px #bbb, 2px 2px #666, .1em .1em .2em rgba(0,0,0,.5);
    }

        .rating div:not(:checked) > label:before {
            content: '★ ';
        }

    .rating div > input:checked ~ label {
        color: #f70;
        text-shadow: 1px 1px #c60, 2px 2px #940, .1em .1em .2em rgba(0,0,0,.5);
    }

    .rating div:not(:checked) > label:hover,
    .rating div:not(:checked) > label:hover ~ label {
        color: gold;
        text-shadow: 1px 1px goldenrod, 2px 2px #B57340, .1em .1em .2em rgba(0,0,0,.5);
    }

    .rating div > input:checked + label:hover,
    .rating div > input:checked + label:hover ~ label,
    .rating div > input:checked ~ label:hover,
    .rating div > input:checked ~ label:hover ~ label,
    .rating div > label:hover ~ input:checked ~ label {
        color: #ea0;
        text-shadow: 1px 1px goldenrod, 2px 2px #B57340, .1em .1em .2em rgba(0,0,0,.5);
    }

    .rating div > label:active {
        position: relative;
        top: 2px;
        left: 2px;
    }

fieldset label {
    margin: 2px;
}

.scrollbar {
    height: 200px;
    width: 100%;
    overflow-y: scroll;
    border: 2px solid darkslategray;
    border-radius: 5px;
}

#style-3::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background-color: darkslategray;
}

#style-3::-webkit-scrollbar {
    width: 3px;
    background-color: darkslategray;
}

#style-3::-webkit-scrollbar-thumb {
    background-color: gray;
}

#img-details {
    /*width: 90%;*/
    height: 100%;
}

.details-div {
    overflow: hidden;
    letter-spacing: 1px;
}

.details-hr {
    margin-top: 5px;
    margin-bottom: 5px;
}

#description-pharagraph {
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
}

.withouth-margin {
    margin-left: 0px;
    margin-right: 0px;
}

ul.product-caption-rating.pass-rating > li {
    color: black;
    font-size: initial;
}

.withouth-margin div > span {
    font-size: 16px;
    font-weight: bold;
}

.font-size-span {
    font-size: 20px;
    font-weight: bold;
}

.ch-label-100 > span {
    width: 100%;
}

.btn-w-comment {
    width: 135px;
}

#cardId {
    min-height:400px;
}

@media screen and (max-width: 580px) {
    .cart-font-size {
        font-size: 11px;
    }
}

@media screen and (max-width: 390px) {
    .cart-font-size {
        font-size: 8px;
    }
}
