@model EditModel

<div asp-validation-summary="All" class="text-danger text-center mx-auto empty"></div>

<div class="d-flex justify-content-center row mt-5 mx-auto">
    <div class="col-lg-4 col-md-5 col-sm-5 col-xs-2 col-10">
        <div class="card">
            <div class="card-body">
                <div id="dropdownlist">
                    <h5>@Model.SmallTitle</h5>
                    @(Html.Kendo().DropDownList()
                                                          .Name(Model.CollectionName)
                                                          .HtmlAttributes(new { style = "width: 100%;" })
                                                          .DataTextField(Model.TextFieldAndValue)
                                                          .DataValueField(Model.TextFieldAndValue)
                                                          .Filter(FilterType.Contains)
                                                          .DataSource(source =>
                                                          {
                                                              source.Read(read =>
                                                              {
                                                                  read.Action(Model.Action, Model.Controller);
                                                              })
                                                              .ServerFiltering(false);
                                                          })
                                                              .Events(e => e
                                                                      .Change(Model.EventFunction)
                                                          ))
                </div>
            </div>
        </div>
    </div>
</div>

@{
    var path = this.Context.Request.Path.Value.ToLower();
}

@if (path == "/categories/edit")
{
    <div class="row justify-content-center mx-0 mt-5">
        <div id=categoryEdit class="col-lg-4 col-md-5 col-sm-5 col-xs-8 col-10 text-center">
            <hr />
            <div id="@Model.Id" class="mx-auto">

            </div>
            <hr />
        </div>
    </div>
}
@if (path == "/authors/edit")
{
    <div class="row justify-content-center mx-0 mt-5">
        <div id="authorEdit" class="col-lg-4 col-md-5 col-sm-5 col-xs-8 col-10 text-center">
            <hr />
            <div id="@Model.Id" class="mx-auto">

            </div>
            <hr />
        </div>
    </div>
}

