<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - BookStore.Web</title>

    <environment include="Development">
        <link rel="stylesheet" href="~/css/reset.css" />
        <link href="~/lib/slick/slick.css" rel="stylesheet" />
        <link href="~/lib/slick/slick-theme.css" rel="stylesheet" />
        <link href="~/css/bootstrap.min.css" rel="stylesheet" />
        <link rel="stylesheet" href="~/css/custom.css" />
        <link href="~/css/fontawesome/css/all.css" rel="stylesheet" />

        <link rel="stylesheet" href="~/lib/kendo-ui/styles/kendo.common.min.css" />
        <link rel="stylesheet" href="~/lib/kendo-ui/styles/kendo.bootstrap.min.css" />
        <link rel="stylesheet" href="~/lib/kendo-ui/styles/kendo.default.mobile.min.css" />
    </environment>
    <environment include="Development">
        <script src="~/lib/kendo-ui/js/jquery.min.js"></script>
        <script src="~/lib/kendo-ui/js/kendo.web.min.js"></script>
        <script src="~/lib/kendo-ui/js/kendo.aspnetmvc.min.js"></script>
        <script src="~/lib/slick/slick.js"></script>
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
    </environment>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light">
        <a id="navBarHome" class="navbar-brand navBarHome" href="/">BookStore</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav mr-auto mt-3 mt-lg-0">
                <li class="nav-link mr-3"><a asp-area="" asp-controller="Home" asp-action="Index">Home</a></li>
                @if (!User.IsInRole("Admin"))
                {
                    <li class="nav-link mr-3"><a asp-area="" asp-controller="Home" asp-action="About">About</a></li>
                    <li class="nav-link mr-3"><a asp-area="" asp-controller="Home" asp-action="Contact">Contact</a></li>
                }

                @if (User.IsInRole("Admin"))
                {
                    <li class="nav-item dropdown mr-3">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Category
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a asp-area="" asp-controller="Categories" asp-action="Create" class="dropdown-item">Create</a>
                            <a asp-area="" asp-controller="Categories" asp-action="Edit" class="dropdown-item">Edit</a>
                        </div>
                    </li>

                    <li class="nav-item dropdown mr-3">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownBook" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Book
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownBook">
                            <a asp-area="Books" asp-controller="Books" asp-action="Create" class="dropdown-item">Create</a>
                            <a asp-area="Books" asp-controller="Books" asp-action="Edit" class="dropdown-item">Edit</a>
                        </div>
                    </li>

                    <li class="nav-item dropdown mr-3">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownBook" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Author
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownBook">
                            <a asp-area="" asp-controller="Authors" asp-action="Create" class="dropdown-item">Create</a>
                            <a asp-area="" asp-controller="Authors" asp-action="Edit" class="dropdown-item">Edit</a>
                        </div>
                    </li>
                }
            </ul>
            <ul class="navbar-nav mt-3 mt-lg-0">
                <li class="nav-item dropdown mr-3">
                    <a asp-area="Books" asp-controller="Books" asp-action="All"><i class="fas fa-book"></i> Books</a>
                </li>
            </ul>
            <partial name="_LoginPartial" />

        </div>
    </nav>
    <partial name="_CookieConsentPartial" />

    <div class="container body-content pading-left-riht-zero mb-5 mx-auto">
        @RenderBody()
    </div>
    <br />
    <footer class="mt-5">
        <div class="container">
            <div class="p-2 text-center">
                &copy; CopyRight Sanity Web Design Studios 2018. All rights reserved.
            </div>
        </div>
    </footer>

    <environment include="Development">
        <script src="~/js/popper.min.js"></script>
        <script src="~/js/bootstrap.min.js"></script>
        <script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
        <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
        @*<script src="~/js/Test.js"></script>*@
        <script src="~/js/custom.js"></script>
    </environment>
    <environment exclude="Development">
        <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-3.3.1.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha384-tsQFqpEReu7ZLhBV2VZlAu7zcOV+rXbYlF2cqB8txI/8aZajjp4Bqd+V6D5IgvKT">
        </script>
        <script src="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/bootstrap.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                crossorigin="anonymous"
                integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa">
        </script>
        <script src="~/js/site.min.js" asp-append-version="true"></script>
    </environment>

    @*@RenderSection("Scripts", required: false)*@
</body>
</html>
