@model BookCreateModel
@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 class="text-center">Create Book</h1>

<div asp-validation-summary="All" class="text-danger text-center mx-auto"></div>
<div class="row justify-content-center mx-0">
    <div id="createBook" class="col-lg-4 text-center">
        <hr />
        <form method="post" enctype="multipart/form-data" asp-controller="Books" asp-action="Create" class="show">
            <div class="form-group">
                <label asp-for="Title"></label>
                <input class="form-control" asp-for="Title" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Price"></label>
                <input class="form-control" asp-for="Price" />
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ReleaseDate"></label>
                <input class="form-control" asp-for="ReleaseDate" />
                <span asp-validation-for="ReleaseDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Isbn"></label>
                <input class="form-control" asp-for="Isbn" />
                <span asp-validation-for="Isbn" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Image"></label>
                <input id="uploadFile" type="file" class="form-control-file border" asp-for="Image" />
                <span asp-validation-for="Image" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description"></label>
                <textarea class="form-control" rows="7" asp-for="Description"></textarea>
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div>
                <label for="Authors">Authors</label>
                @(Html.Kendo().MultiSelect()
                              .Name("Authors")
                              .AutoClose(false)
                              .Placeholder("Select authors...")
                              .BindTo(Model.Authors)
                              .Value(new string[] { }))

            </div>
            <div class="mb-3">
                <label for="Categories">Categories</label>
                @(Html.Kendo().MultiSelect()
                              .Name("Categories")
                              .AutoClose(false)
                              .Placeholder("Select categories...")
                              .BindTo(Model.Categories)
                              .Value(new string[] { }))

            </div>

            <input type="submit" class="btn bg-color" value="Create" />
        </form>
        <hr />
    </div>
</div>