@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>Use this area to provide additional information.</p>

<div class="category-filters-section visible-xs visible-sm">
    <div>
        <a id="btn-primary" href="#CategoriesParameters" class="btn btn-primary btn-sm collapsed" data-toggle="collapse" aria-expanded="false">
            <i class="fa fa-caret-down"></i>
            Categories
        </a>
    </div>

    <div id="CategoriesParameters" class="collapse" aria-expanded="false" style="height: 0px;">
        <ul class="cateogry-filters-list">
            <li>
                <strong><a href="#/">New Release</a></strong>
            </li>
            <li>
                <strong><a href="#/">All</a></strong>
            </li>
            <li>
                <strong><a href="#/">Fiction</a></strong>
            </li>
            <li>
                <strong><a href="#/">Romance</a></strong>
            </li>
            <li>
                <strong><a href="#/">Adventure</a></strong>
            </li>
            <li>
                <strong><a href="#/">Thriller</a></strong>
            </li>        
        </ul>

    </div>
</div>