@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<address>
    One Microsoft Way<br />
    Redmond, WA 98052-6399<br />
    <abbr title="Phone">P:</abbr>
    425.555.0100
</address>

<address>
    <strong>Support:</strong> <a href="mailto:Support@example.com">Support@example.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
</address>

<div class="tab-content">
    <div class="tab-pane fade active in" id="annotation">
        <p>
            „Зимна песен“ е лабиринт от красота и мрак, от музика, магия и бляскави неща, вплетени в едно от изтънчено писателско перо. Това е свят, в който ще искате да се изгубите завинаги.“ Мари Лу, бестселърова авторка на „Ню Йорк Таймс“<br>
            <br>
            Последната нощ от годината. Настъпват зимните дни и идва време Краля на гоблините да напусне своите владения и да търси невястата си...<br>
            <br>
            Откакто се помни, Лизл слуша легенди за красивия, опасен Крал на гоблините. Неусетно те са завладели ума и духа й и са се превърнали в извор на вдъхновение за музикалните й композиции. Но Лизл вече е на осемнайсет, животът й е зает изцяло от грижи за семейната странноприемница и тя осъзнава как се отдалечава все повече от мечтите си и от музиката.<br>
            <br>
            Изведнъж всичко се преобръща - Краля на гоблините отвлича сестра й и Лизл няма друг избор, освен да ги последва в Подземното кралство и да се опита да я спаси. Но този странен, завладяващ свят и неговият мистериозен владетел неочаквано привличат младата композиторка, а това я изправя пред немислимо решение... Времето и древните закони не са на нейна страна и Лизл трябва да открие истинската си същност, преди съдбата й да бъде предрешена. <br>
            <br>
            Пропита с музика и магия, „Зимна песен“ ще ви отведе в свят, който дълго няма да забравите.
        </p>
    </div>


    <div class="tab-pane fade" id="comments">

        <p>Все още няма мнения за тази книга.</p>
        <div class="clearfix"></div>

        <a href="#" class="btn btn-primary" data-toggle="modal" data-target="#myReview">Напиши коментар</a>

        <div class="gap gap-small"></div>

        <div>
            <p>Ще бъдат допускани само мнения свързани с конкретния продукт или автор.</p>

            <p>Ще бъдат изтривани мнения:</p>

            <ol><li>Съдържащи обидно или нецензурно съдържание</li><li>Написани само с главни букви</li><li>Написани на латиница</li><li>Съдържащи препратки към други сайтове.</li></ol>

            <p>Други въпроси и мнения моля, изпращайте на  <a href="mailto:service@helikon.bg">service@helikon.bg</a></p>
        </div>
    </div>

    <div class="tab-pane fade" id="reviews">

        <div>

        </div>
        <p class="text-orange"></p>


        <div class="clearfix"></div>
    </div>

    <div class="tab-pane fade" id="about_author">

    </div>
</div>

<style>
    .product-tabs .tab-content {
        background: #fff;
        padding: 20px 25px;
        border: 1px solid #ddd;
        border-top: none;
    }

    p {
        margin: 0 0 10px;
    }
</style>
