@model CategoryNameAndIdModel

<div asp-validation-summary="All" class="text-danger text-center"></div>
<form method="post">
    <div class="form-group">
        <input class="form-control" hidden asp-for="Id" />
    </div>
    <div class="form-group">
        <label asp-for="Name">Category</label>
        <input class="form-control" asp-for="Name" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>
    <input type="submit" class="btn bg-color" value="Edit" />
</form>


