@model EditModel
@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 class="text-center">Edit Category</h1>
@if (this.TempData.ContainsKey("error"))
{
    <div class="text-center text-danger">@this.TempData["error"]</div>
}
<partial name="_EditAuthorBookCategoryPartial" model="Model" />